<% include ../partials/header %>
<div class="container">
  <h1 style= "text-align: center">Add a new Comment to <%= campground.name %></h1>
  <div class="" style = "width:30%; margin:25px auto;" >
    <form action="/campgrounds/<%= campground._id %>/comments" method="POST">
      <div class="form-group">
        <input class="form-control" type="text" name="comment[text]" placeholder="Enter your Comment">
      </div>
      <div class="form-group">
        <input class="form-control" type="text" name="comment[author]" placeholder="Your name">
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-lg btn-block" >Submit</button>
      </div>
    </form>
    <a href="/campgrounds/<%=campground._id %>">Go Back</a>
  </div>
</div>



<% include ../partials/footer %>
