<% include partials/header %>

<h1>Welcome to Yelp Camp Site </h1>

<h2>The Home of the best campgrounds in the World</h2>

<a href="/campgrounds"> View Avalible campgounds</a>

<% include partials/footer %>
