<% include ./partials/header %>
<h1>Login!</h1>

<form class="" action="/login" method="POST">
  <input type="text" name="username" placeholder="Username"><br>
  <input type="password" name="password" placeholder="Password"><br>
  <button>Login</button>
</form>

<% include ./partials/footer %>
