<% include ./partials/header %>
<h1>Sign Up</h1>

<form class="" action="/register" method="POST">
  <input type="text" name="username" placeholder="Username"><br>
  <input type="password" name="password" placeholder="Password"><br>
  <button>Sign up!</button>
</form>

<% include ./partials/footer %>
