<% include ../partials/header %>

<div class="container">
  <header class="jumbotron">
    <div class="container">
      <h1> Welcome to YelpCamp </h1>
      <p>View our hand-picked campgrounds from all over the world</p>
      <p>
        <a class="btn btn-primary btn-large" href="/campgrounds/new">Add a new campground</a>
      </p>
    </div>
  </header>

  <div class="row text-center" style ="display:flex; flex-wrap: wrap;">
    <% campgrounds.forEach(function(campground){ %>
      <div class="col-md-3 col-sm-6">
        <div class="img-thumbnail">
          <img class="rounded mx-auto d-block " src="<%= campground.image %>" >
          <div class="caption">
            <h4> <%= campground.name %> </h4>
            <p>
              <a class="btn btn-primary btn-small" href="/campgrounds/<%= campground._id %>">More info</a>
            </p>
          </div>
        </div>
      </div>
  <% }); %>
  </div>

</div>

<% include ../partials/footer %>
