<% include ../partials/header %>
<div class="container">
  <h1 style= "text-align: center">Create a New Campground</h1>
  <div class="" style = "width:30%; margin:25px auto;" >
    <form action="/campgrounds" method="POST">
      <div class="form-group">
        <input class="form-control" type="text" name="name" placeholder="name">
      </div>
      <div class="form-group">
        <input class="form-control" type="text" name="image" placeholder="image URL">
      </div>
      <div class="form-group">
        <input class="form-control" type="text" name="description" placeholder="Camp description">
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-lg btn-block" >Submit</button>
      </div>
    </form>
    <a href="/campgrounds">Go Back</a>
  </div>
</div>



<% include ../partials/footer %>
