<% include ../partials/header %>
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div id="campimage" class="img-thumbnail">
        <img src="<%= campground.image %>" alt="">
        <div class="caption-full">
          <h4 class="float-right">$9.00/night</h4>
          <h4><a><%= campground.name %></a></h4>
          <p><%= campground.description %></p>

        </div>
      </div>
      <div class="card border-success">
        <div class="float-right">
          <a class="btn btn-danger" href="/campgrounds/<%= campground._id %>/comments/new">Add Comment</a><hr>
        </div>
        <% campground.comments.forEach(function(comment){ %>
          <div class="row">
            <div class=" card-body col-md-12">
              <strong class=" card-title"><%= comment.author %> </strong>
              <span class="float-right">10 days ago</span>
              <p><%= comment.text %></p>
            </div>
          </div>
        <% }) %>
      </div>

    </div>
    <div class="col-md-3">
      <p class="lead">YelpCamp</p>
      <div class="list-group">
        <li class ="list-group-item active"> Info 1 </li>
        <li class ="list-group-item"> Info 2</li>
        <li class ="list-group-item"> Info 3 </li>
      </div>
    </div>
  </div>

</div>



<a href="/campgrounds">Go Back</a>



<% include ../partials/footer %>
